<h3>商品詳細</h3>
<%= image_tag @item.get_image(60 60) %>
商品名 <%= @item.name %>
商品説明 <%= @item.introduction %>
<!--ジャンル %= @item.genre_id %> -->
<!--税込価格(税抜価格) %= @item.price %> -->
<!--販売ステータス -->
<%= link_to "編集する", admin_edit_item_path(@item) %

