<h3>会員一覧</h3>

<table classs="table">
  <thead>
    <th>会員ID</th>
    <th>氏名</th>
    <th>メールアドレス</th>
    <th>ステータス</th>
  </thead>
  <tbody>
   <tr>
    <% @customers.each do |customer| %>
     <td><%= customer.id %></td>
     <td><%= customer.name %></td>
     <td><%= customer.email %></td>
     <td><%= customer.deleted_judge %></td>
    <% end %>
   </tr>
  </tbody>
</table>